jupyter
pydot
graphviz
git+https://github.com/fastmachinelearning/hls4ml
matplotlib
numpy
PyYAML
scikit-learn
tensorflow
tqdm
git+https://github.com/google/qkeras#egg=qkeras
keras-flops
git+https://github.com/kentaroy47/keras-Opcounter
keras-tuner
setgpu
mplhep
